name: Buildx

on:
  schedule:
    - cron: 30 */12 * * *
  push:
    branches: [master]

jobs:
  load:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    name: Loads latest releases from origin
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.2
        with:
          node-version: 14

      - name: Set Matrix
        id: set-matrix
        env:
          ORIGIN: "verdaccio/verdaccio"
          MIRROR: "hertzg/verdaccio"
          EXCLUDE_TAGS: "v4.3.,v3.13."
        run: |
          BUILDMAP=$(node ./buildMap.js "$ORIGIN" "$MIRROR")
          echo "::set-output name=matrix::${BUILDMAP}"
  builds:
    name: hertz/verdaccio:${{ matrix.revision }}
    needs: load
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.load.outputs.matrix)}}
    steps:
      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        id: cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Checkout
        uses: actions/checkout@v2

      - name: Login
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build & Push ${{ matrix.revision }}
        run: |
          if [ ! -d './verdaccio/repo' ]; then
            git clone https://github.com/verdaccio/verdaccio.git ./verdaccio/repo
          fi

          pushd ./verdaccio/repo
          git fetch
          git reset --hard
          git clean -fdx
          git checkout master
          git pull
          git reset --hard
          git clean -fdx
          git checkout "${{ matrix.revision }}"

          docker buildx build \
            ${{ matrix.args }} \
            --platform "${PLATFORMS}"\
            --pull \
            --push \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --cache-to "type=local,dest=/tmp/.buildx-cache" \
            .
          popd

      - name: Clear
        if: always()
        run: |
          rm -f ${HOME}/.docker/config.jsonk
